<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>Alexander Dinu</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link href="http://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/typeplate.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Последнее</a></li>
          <li><a href="https://twitter.com/aluuu">Твиттер</a></li>
          <li><a href="https://github.com/aluuu">Гитхаб</a></li>
          <li><a href="/pages/about.html">О себе</a></li>
        </ul>
      </nav>
    </header>
    <section>
      $body$
    </section>
    <!-- Yandex.Metrika counter --><script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter19138654 = new Ya.Metrika({ id:19138654, clickmap:true, trackLinks:true, accurateTrackBounce:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="https://mc.yandex.ru/watch/19138654" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
  </body>
</html>
